@import "./base.css";

body {
  background-color: darkblue;
}

#app {
  max-width: 100vw;
  padding: 2rem;
  font-weight: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a,
.green {
  text-decoration: none;
  color: rgb(39, 4, 134);
  transition: 0.4s;
}
